<%= form_for @conn, setting_path(@conn, :toggle_quest_bot), [as: :quest_bot], fn f -> %>
<div class="form-group">
  <%= label f, :state, "Automaticly accept quest" %>
  <%= checkbox f, :state, value: false %>
</div>
<%= submit "Save settings", class: "btn btn-primary" %>
<% end %>
