<div class="row">
  <%= form_for @conn, session_path(@conn, :create), [as: :user], fn f -> %>
    <div class="form-group">
      <%= text_input f, :id, placeholder: "User ID", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= password_input f, :token, placeholder: "API Token", class: "form-control" %>
    </div>
    <%= submit "Connect", class: "btn btn-primary" %>
  <% end %>
</div>
